// COLORS
$PRIMARY-COLOR: #010081;
$TEXT-PRIMARY: #17171c;
$GRAY5: #e0e0e0;
$GRAY1: #333333;
$GRAY2: #616076;
$BRAND-BORDER: #e4e4e7;
$TEXT-TERITIARY: #73738c;
$BRAND-PRIMARY: #010081;
$TEXT-SECONDARY: #4e4e5f;
$BRAND-WHITE: #ffffff;
$BLACK: #000000;
$NOTIFICATION: #e13e3e;
$BLUE: #0055aa;
$MAIN-BACKGROUND: #fafaff;
$SHADOW-COLOR: #f1f1f1;

// FONT FAMILY
$FONT-FAMILY-POPPINS: 'Poppins';
$FONT-FAMILY-INTER: 'Inter';

// FONT WEIGHT
$FONT-WEIGHT-LIGHT: 400;
$FONT-WEIGHT-MEDIUM: 500;
$FONT-WEIGHT-BOLD: 600;

// SIZES
$SCREEN-SM: 640px;
$SCREEN-MD: 768px;
$SCREEN-LG: 1150px;
$SCREEN-XL: 1280px;
$SCREEN-2XL: 1536px;
$HEADER-HEIGHT: 72px;

// BOX SHADOW
$BOXSHADOW-LIGHT: 0px 2px 4px rgba(0, 0, 0, 0.04);
$BOXSHADOW-CARD: 0px 1px 12px $SHADOW-COLOR;

// BORDER RADIUS
$STRIP-BORDER-RADIUS: 4px 4px 0px 0px;
$CARD-BORDER-RADIUS: 24px;
